<form>
  Name:<br>
  <input type="text" name="firstname"><br>

  Email:<br>
  <input type="text" name="lastname"><br>

  Mobile 1:<br>
  <input type="number" name="mobile1"><br>

  Mobile 2:<br>
  <input type="number" name="mobile2"><br>

  Address>:<br>
  <input type="text" name="address"><br>

  Gender:<br>
  <input type="radio" name="gender" value="male" checked> Male
  <input type="radio"ethical hacking videoethical hacking video name="gender" value="female"> Female
  <input type="radio" name="gender" value="other"> Other

  Password:<br>
  <input type="password" name="password"><br>
  
  Confirm Password:<br>
  <input type="password" name="password">
</form> 