<div class="container bg-light p-4" style="border-radius:15px;width:80%;min-height: 80vh">
    <h2 class="h2 text-center">Add New Batch</h2>
    <form class="p-4" action="/mod/addBatch" method="POST">
        <div class="form-group">
        <label>Batch ID</label>    
        <input type="text" class="form-control" name="batch_id" placeholder="Enter Batch ID" required=''>
        </div>
        <div class="form-group">
        <label>Batch Name</label>    
        <input type="text" class="form-control" name="batch_name" placeholder="Enter Batch Name" required=''>
        </div>
        <label>Course ID</label><br> 
        <div>
            <input type="text" name="course_id" list="course_id">
            <datalist id="course_id">
                {{#data1}}
                <option value="{{this.courseID}}">course name: {{this.coursename}}</option>
                {{/data1}}
            </datalist>
        </div>
        <div>
            <label>Start Date</label><br> 
            <input class='form-control form-control-sm inrad' id='start_date' name='start_date' type='date'>
        </div>
        <div>
            <label>End Date</label><br> 
            <input class='form-control form-control-sm inrad' id='end_date' name='end_date' type='date'>
        </div>
        <label>Mentor ID</label><br> 
        <div>
            <input type="text" name="mentor_id" list="mentor_id">
            <datalist id="mentor_id">
                {{#data2}}
                <option value="{{this.email}}">course name: {{this.name}}</option>
                {{/data2}}
            </datalist>
        </div>
        <div>
            <label>Number of Assignment</label><br>
            <input type="number" class="form-control" name="no_assgn" placeholder="Enter No of assignment" required=''>
        </div>
        <button style="margin-top:5px;width:100%" type="submit" class="btn btn-success">Submit</button>
    </form>
</div>