<div class="jumbotron" style="background-color:rgba(0, 0, 0, 0.4)">
  <div class="row">
    <div class="col-sm">
      <img class="rounded mx-auto d-block" src="https://upload.wikimedia.org/wikipedia/commons/5/52/Mail_iOS.svg" style="height:250px">
    </div>
    <div class="col-sm my-auto">
      <h2 class="text-center alert alert-warning">Your email not Verified!</h2>
      <h5 class="text-center alert alert-info">Please check your inbox for a verfication email and click the link to activate your account!</h5>
    </div>
  </div>  
</div>

