<div style="border-radius:15px;width:30%;" class="m-5 p-2 mx-auto text-center bg-light">
        <ul style="margin:0px;padding:0%;list-style: none;">
            <li><a style="margin-top:20px;width: 100%" class="btn btn-success" href="/student/register"><i class="p-2 fas fa-user-graduate"></i>Register as Student</a></li><br>
            <li><a style="width: 100%" class="btn btn-warning" href="/mentor/register"><i class="p-2 fas fa-chalkboard-teacher"></i>Register as Mentor</a></li><br>
            <li><a style="width: 100%" class="btn btn-danger"href="/mod/register"><i class="p-2 fas fa-user-shield"></i>Register as Moderator</a></li><br>
        </ul>
</div>