<link rel="stylesheet" href="/css/signIn.css">
<form class="box" method="POST" action="/">
    <h1>Sign In</h1>
    <input type="text" class="form-control" name="username" placeholder="Enter username">
    <input type="password" class="form-control" name="password" placeholder="Enter password">
    <input type="submit" class=""  value="Sign In">
</form>