{{#each list}}
<div class="container">
    <div class="jumbotron">
    <p>{{this.batch_id}}</p>
    <p>{{this.batch_name}}</p>
    {{!-- <p>{{this.course_id}}</p>
    <p>{{this.mentor_id}}</p> --}}
    </div>
</div>
{{/each}}